<!-- <mat-toolbar color="primary">
    <div class="header-content">
      <div class="header-left">
        <span>Vinay</span>
        <span  style="margin-left: 10px;"><a routerLink="">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </a></span>
      </div>
      <div  style="margin-right: 10px;">
        <a routerLink="/aboutMe">about me</a>
      </div>
      <div class="header-right">
        <img src="assets/profile1.JPG" alt="Your Image">
      </div>
    </div>
</mat-toolbar> -->

<mat-toolbar color="primary">
    <span class="left-icon" style="float: left;">Vinay</span>
    <div class="header-links" style="float: right;">
      <a class="right-icon" routerLink="">
        <span class="white-icon"> Home</span>
      </a>
      <a routerLink="/aboutMe">
        <span class="white-icon"> About</span>
      </a>
      <a routerLink="/contact">
        <span class="white-icon"> Contact</span>
      </a>
      <a href="https://drive.google.com/file/d/1Zq9_svH4c-6S87RqcNL9GSeDYbVEd5K0/view?usp=sharing">
        <span class="white-icon"> Resume</span>
      </a>
    </div>
    <a class="header-right right-icon" routerLink="">
        <img src="assets/profile1.JPG" alt="Your Image">
    </a>
</mat-toolbar>