.linkedin-link {
    text-decoration: none; /* Remove the default underline for links */
  }
  
  .linkedin-logo {
    width: 40px; /* Adjust the image width */
    height: 40px; /* Adjust the image height */
    margin-right: 10px;
  }

.margin{
    margin-right: 10px;
}
.hover-icon {
    font-size: 24px;
    
    transition: transform 0.2s, color 0.2s; /* Add smooth transitions */
  
    cursor: pointer; /* Change the cursor to a pointer on hover */
  }
  .hover-icon:hover {
    transform: scale(1.2); /* Enlarge the icon by 20% on hover */
    color:blue; /* Change the color to red on hover (adjust the color as needed) */
  }
  .mainclass{
    background-color: rgb(157, 196, 231);
    text-align: center;
  }
  .handwirttenfont{
    font-family:'Times New Roman', Times, serif;
    text-decoration: underline;
  }
  .contact{
    font-family:'Times New Roman', Times, serif;
  }
  .footer{
    font-family: Merienda;
    background-color: rgba(212, 198, 243, 0.224);
  }