<div class="content background">
    <div class="text">
        <h1 class="handwirttenfont">About Me</h1>
        <h3 class="font">Hi, My Name Is Vinay Kayala. I am a Full Stack Developer. I build beautifull websites with angular, Material UI and DotNet.<br>

            I am proficient in Frontend skills like Html5, Css3, JavaScript, TypeScript and angular.<br>
            I am proficient in Frontend skills like c#, Asp.Net, .NetCore, .NetFramework and SQL dataBase.
        </h3>
      <!-- <p >Hi, My Name Is Laxmanrao Balla everyone calls me Laxman. I am a Frontend Developer. I build beautifull websites with React, Material UI and Tailwind CSS.

        I am proficient in Frontend skills like React.js, Redux, Redux Tool Kit, Axios, Tailwind CSS, SaSS, Css3 and many more.</p> -->
    </div>
    <div class="image">
      <img src="assets/about.png" alt="Your Image">
    </div>
</div>